body{
    padding-top: 2.7em;
    color: white;
    font-family: sans-serif;
    background: url("src/sunsetBackground.png");
}

.icon{
    width: 0.8em;
    height: 0.8em;
}
.biggerIcon{
    width: 2.8em;
    height: 2.8em;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1px 1.2em;
    align-items: flex-start;
    font-size: 1.3em;
}
#CurrentTemp{
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.9) 45%);
    -webkit-background-clip: text;
    color: transparent;
}
.TimeAndDay{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 0.7em;
}

header.location{
    display: flex;
    flex-direction: row;
    align-items: center;
}
main{
    margin-top: 7.6em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em;
}
.Description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.45em;
    border-radius: 10px;
}
.Temperature{
    font-size: 7.5em;
}
.AdditionalInfo{
    color: #000;
    margin-top: 60%;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: flex-start;
}
.AdditionalInfo > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.AdditionalInfo > div > p{
    color: grey;
    text-transform: uppercase;
}

.AdditionalInfo > div > span{
    color: rgba(0, 0, 0, 0.75);
    font-size: 1.5em;
    text-align: center;
}
.AdditionalInfo > div > div{

}